.footer {
    background-color: rgb(40, 40, 40);
    padding-top: 1.2em;
    height: 60px;
    text-align: center;
    /* display: flex;
    justify-content:center;
    align-items: center; */
}

footer ul li a {
    color: black;
    margin-bottom: 0;
} 

footer ul li {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    color: black;
    list-style: none;
    margin: 0 1em;
    margin-bottom: 0;
}

.footer .item {
    display: flex;
    justify-content: center;
    color: black;
    list-style: none;
    font-size: 1.2em;
    margin-bottom: 0;;
}

.item :hover{
    color: rgb(130, 130, 100);
}

.copyright {
    padding: 1em;
    background-color: rgb(40, 40, 40);
    width: 100%;
    font-weight: bold;
    color: rgb(178, 178, 178);
}
